body {
  font-family: "Raleway", sans-serif;
}
.header-link {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
}
.header-link-active {
  color: var(--primary-color);
}
.logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.studio-text {
  color: #2e2f42;
}

.header-link {
  //styleName: Body Medium;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}
.main-header {
  background-color: #2e2f42;
}
.hero-section {
  background: #2e2f42;
}
.hero-title {
  //styleName: Header 1;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.primary-button {
  //styleName: Button Text;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
  background: #4d5ae5;
}
section-title {
  //styleName: Header 3;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}
section-description {
  //styleName: Body;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}
